.cripto-first{
    margin: 10%;
    border-radius: 15px;
    background-color: rgb(34, 117, 90);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    
}
.cripto-first1 {
    display: flex;
    justify-content: space-around;
    margin: 5px;
    gap: 2%;
    align-items: center;
    width: 100%;
}
.cripto-first1 h2{
    font-size: 1rem;
}
.cripto-first1 img{
    width: 30px;
    height: 30px;
    
}

.graphic{
    display: inline-block;
    margin: 0%;
    width: 90%;
    height: auto;
    padding: 0%;
    background-color: white;
}
.capitalitation-table{
    width: 90%;
    background-color: white;
}

.red{
    color:red;
}
.green{
    color: green;
}