.card{

background-color: #02735e;
border-radius: 20px;
display: grid;
grid-template-columns: 1fr 2fr;
padding: 15px 20px;
justify-content: center;
align-items: center;
width: 100%;
}

.card img {
    max-width: 90px;
    height: auto;
}

.con-main {
    padding:  1rem;
    display: grid;
    grid-template-columns: 1fr;
    /* Dos columnas, con la gráfica ocupando más espacio */
    gap: 1rem;
    /* Espacio entre los elementos */
    justify-content: center;
    /* Centrar verticalmente los elementos */
    overflow: hidden;
}

.con-main .graph {
    width: 50vw;
    height: 20vh;
}

.con-title {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 0.8rem;
    width: 100%;
}

.porcentaje {
    background-color: white;
    border-radius: 5px;
}

@media (min-width: 1440) { 
    .card {
        width: 80%;
    }
}
.graphic .graph{
    width: 100%;
    height: 100%;
    display: grid;
}