.cripto-first{
    margin: 5%;
    border-radius: 20px;
    background-color: rgb(34, 117, 90);
    color: white;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    width: 95%;
}
.cripto-first1 {
    display: flex;
    justify-content: space-around;
    margin: 5px;
    gap: 2%;
    align-items: center;
    width: 100%;
}
.cripto-first1 h2{
    font-size: 1rem;
}
.cripto-first1 img{
    width: 30px;
    height: 30px;
    
}

.cripto-first .graphic{
    background: #fff;
    border-radius: 5px;
    height: 250px;
    margin: 20px;
    padding: 5px;
    position: relative;
}
.graphic .graph {
    display: grid;
    height: 100%;
    width: 100%;
}
.capitalitation-table{
    width: 90%;
    background-color: white;
}

.red{
    color:red;
}
.green{
    color: green;
}