.contenedor{
    display: flex;
    flex-direction: column;
    background-color: rgb(169, 240, 240);
    width: 80%;
}
.input-convert{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
