.app-header{
    width: 100%;
    background-color: rgb(10, 65, 46);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:15%;
    padding-right: 15%;
}
.select-button{
    gap: 20%;
}