.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}



/* Espacio entre columnas */
.table th,
.table td {
    padding: 20px 12px;
    /* Añade más espacio horizontal si es necesario */
}
.table{
    margin: 50px;
}